<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to BST's API</h1>
      <p class="wave-emoji">&#128075;</p>
      <p class="paragraph">
        This is a basic API used to fetch country capital using the name of
        country
      </p>
      <div class="api-request-syntax">
        <label for="api-request-syntax syntax">Syntax:</label>
        <code>http://bst-country-api/India/{State_name}</code>
      </div>
      <div class="api-request-example">
        <label for="api-request-example example">Usage Example:</label>
        <code class="json">http://bst-country-api/India/Maharashtra</code>
      </div>
      <div class="note">
        <p>
          Note: While using state names having two words use the state names as
          ArunachalPradesh , AndhraPradesh , etc...
        </p>
        Example:
        <code class="note-example">
          http://bst-country-api/India/ArunachalPradesh
        </code>
      </div>
      <div class="api-request-output">
        <label for="api-request-output output">Ouput:</label>
        <code class="json"> { "capital":"Mumbai" } </code>
      </div>
    </div>
  </body>
</html>
